@model CCOLPROYECTOS_V1.RecursoTecnico

@{
    ViewBag.Title = "Create";
}



@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class=" jumbotron form-horizontal" style="        border: 4px solid #002F65">
    <h2 class="text-center " style="color:darkblue">CREAR RECURSO TECNICO</h2>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="col-md-2">
            <dt>
                REFERENCIA:
            </dt>
        </div>

        <div class="col-md-10">
            @Html.EditorFor(model => model.referenciaRecursoT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.referenciaRecursoT, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <dt>
                TIPO:
            </dt>
        </div>

        <div class="col-md-10">
            @Html.EditorFor(model => model.tipoRecursoT, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tipoRecursoT, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <dt>
                MARCA:
            </dt>

            <div class="col-md-10">
                @Html.EditorFor(model => model.marcaRecursoT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.marcaRecursoT, "", new { @class = "text-danger" })
            </div>
        </div>
     </DIV>

        <div class="form-group">
            <div class="col-md-2">
                <dt>
                    DESCRIPCIÓN:
                </dt>
            </div>

            <div class="col-md-10">
                @Html.EditorFor(model => model.descripRecursoT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripRecursoT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <dt>
                    VALOR:
                </dt>
            </div>

            <div class="col-md-10">
                @Html.EditorFor(model => model.valorRecursoT, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.valorRecursoT, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
                <a href="@Url.Action("Index")" class="btn btn-primary">

                    <span><strong>Regresar a la Lista</strong></span>
                </a>
            </div>


        </div>
    </div>
    }
